* {
  background-color: #E7F1F1;

}

.full-page {
  display: flex;
  overflow: hidden;
}

.main-container {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.title-container {
  display: flex;
  justify-content: center;
  height: 220px;
  font-family: 'Poppins', sans-serif;
}


.title {
  display: flex;
  margin-top: 90px;
  font-size: 70px;
}

.palette-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  height: 300px;
  font-family: 'Poppins', sans-serif;
  margin-top: 50px;
  text-align: center;
}

.color-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.color-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 150px;
  width: 150px;
  border: 5px solid black;
  background-color: #000000;
}

.current-color-palette-text {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 400;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.new-palette-button {
  border-radius: 10px 50px;
  font-family: 'Poppins', sans-serif;
  background-color: #000000;
  color: #FFFFFF;
  width: 250px;
  height: 50px;
  font-size: 24px;
  letter-spacing: 1.2px;
  font-weight: 200;
  font-variant: common-ligatures;
}

.image {
  width: 40px;
  height: 40px;
  background-color: rgb(0, 0, 0, 0);
  margin: 5px;
}

.saved-palettes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 5px solid black;
  width: 420px;
  margin-left: 28px;
  
}

.saved-palettes-title {
  margin-top: 50px;
  
  font-size: 38px;
  height: 50px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  
}

.saved-color-boxes-container {
 display: flex;
 flex-direction: column;
 height: 300px;
 width: 400px;
}

.layer-one {
  display: flex;
  justify-content: center;
}

.layer-two {
  display: flex;
  justify-content: center;
}
.saved-color-box {
  height: 50px;
  width: 50px;
  border: 5px solid black;
  margin-right: 10px;
  margin-top: 25px;
}

.box-1 {
 background-color: #4A7C4F;
}

.box-2 {
background-color: #D982A6;
}

.box-3 {
  background-color: #739C8F;
}

.box-4 {
  background-color: #BC613F;
}

.box-5 {
  background-color: #F1A563;
}

.box-6 {
 background-color: #8299B3;
}

.box-7 {
  background-color: #5E478A;
}

.box-8 {
  background-color: #C94E59;
}

.box-9 {
  background-color: #E0BB24;

}

.box-10 {
  background-color: #E0BB24;

}
.box-11 {
  background-color: #A8D175;
}

.box-12 {
  background-color: #6E3C52;
}

.box-13 {
  background-color: #F0C89F;
}
.box-14 {
  background-color: #4F85A9;
}
.box-15 {
  background-color: #9A5E2A;
}




